/* ---------- ICONS STYLING ---------- */
.carousel-arrow-wrapper {
    height: 70px;
    width: 70px;
    background-color: black;
    opacity: 0.8;
}

.social-icon-container {
    height: auto;
    width: auto;
    position: absolute;
    right: 0;
    bottom: 160px;
    z-index: 2;
}

.social-icon-wrapper {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.3;
    transition: ease-in-out, 0.5s;
}

.social-icon-wrapper:hover {
    opacity: 1;
}

.phone-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
    z-index: 2;
    transition: ease-in-out, 0.5s;
    right: 0;
    top: 25px;
}

.phone-icon:hover {
    opacity: 1;
}

.menu-icon {
    position: absolute;
    height: 14px;
    width: auto;
    z-index: 999;
    left: 25px;
    top: 25px;
    opacity: 0.5;
    transition: ease-in-out, 0.5s;
}

.menu-icon:hover {
    opacity: 1;
}