.header-container {
    height: 52px;
}

.dashboard-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #000000;
}

.date-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #707070;
    text-align: center;
}

.search-container {
    text-align: right;
}

.search-icon {
    background-color: #F7EBFF;
    border-radius: 10px;
    padding: 16px;
    transition: 0.3s;
}

.search-icon:hover {
    background-color: #e5bfff;
}

.welcome-back-container {
    height: 188px;
    width: 100%;
    background: #F7EBFF;
    border-radius: 20px;
    margin-top: 31px;
}

.last-login-container {
    width: 50%;
    padding-left: 5%;
}

.welcome-back-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: black;
}

.last-class-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #707070;
}

.last-class-progress-bar {
    background-color: white !important;
    margin-right: 28px;
}

.progress-bar-container {
    height: 3px;
    background-color: #E8E8E8;
    border-radius: 10px;
}

.progress-bar-fill {
    height: 100%;
    background-color: #BD63FF;
    border-radius: 10px;
}

.progress-bar-fill-2 {
    height: 100%;
    background-color: #FF5757;
    border-radius: 10px;
}

.percentage-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #707070;
    margin-left: 10%;
    margin-top: 2px;
}

.hero-container {
    width: 50%;
    text-align: center;
    position: absolute;
    margin-top: -31px;
}

.middle-bottom-half-container {
    margin-top: 24px;
}

.classes-info-container .content {
    padding: 28px;
    box-shadow: 0px 0px 5px #00000029;
    border-radius: 26px;
    margin-right: 8px;
}

.info-title-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: black;
}

.more-classes-container {
    float: right;
}

.more-classes-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #707070;
    text-align: right;
    margin-right: 8px;
}

.class-info {
    display: table;
    width: 100%;
    margin-top: 32px;
}

.unit-code {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: black;
}

.unit-name {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #707070;
}

.unit-progress-bar {
    padding-left: 16px;
    display: table-cell;
    width: 35%;
}

.unit-progress-percentage {
    display: table-cell;
    width: 15%;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #707070;
}

.hours-info-container .content {
    height: 100%;
    padding: 28px;
    box-shadow: 0px 0px 5px #00000029;
    border-radius: 26px;
    margin-left: 8px;
}

.chart-container {
    max-height: 70%;
    width: 90%;
    height: 85%;
    position: absolute;
    bottom: 28px;
}

@media only screen and (max-width: 1199px) {
    .middle-column-outer {
        height: 100%;
        width: 100%;
    }

    .middle-column-container {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 16px 16px 0 16px;
    }
}

@media only screen and (max-width: 576px) {
    .hours-info-container {
        margin-top: 12px;
        height: 360px;
    }

    .hours-info-container .content {
        padding: 28px;
        box-shadow: 0px 0px 5px #00000029;
        border-radius: 26px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 672px) {
    .last-login-container {
        text-align: center;
    }

    .hero-container {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .middle-column-container {
        margin-top: 60px;
        margin-right: 32px;
    }
}
