html {
    scroll-behavior: smooth;
}
  
.padding-0 {
    padding: 0;
}

* {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
    letter-spacing: 0px;
}

h1 {
    font-weight: 700;
    color: #000000;
    opacity: 0.75;
}

.navlink-font {
    margin-bottom: 0;
    font-weight: 500;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
}

h6 {
    font-weight: 700;
    color: #FF5D58;
    opacity: 1;
}

h2 {
    font-weight: 500;
    color: #000000;
    opacity: 1;
}

p {
    font-weight: 400;
    color: #000000;
    opacity: 0.5;
}

/* --- MEDIA QUERIES ---*/
@media only screen and (max-width: 575px) {
    h1 {
        font-size: 15px;
    }

    .navlink-font {
        font-size: 10px;
    }

    h6 {
        font-size: 10px;
    }
    
    h2 {
        font-size: 20px;
    }

    p {
        font-size: 10px;
    }
}
}

@media only screen and (min-width: 576px) {
    h1 {
        font-size: 20px;
    }

    .navlink-font {
        font-size: 13px;
    }

    h6 {
        font-size: 14px;
    }
    
    h2 {
        font-size: 30px;
    }

    p {
        font-size: 14px;
    }
}
