.footer-container {
    background-color: #000000;
    height: 100px;
}

.footer-container .row {
    height: 100%;
}

.footer-container .text {
    text-align: center;
}

/* --- MEDIA QUERIES ---*/
/* MOBILE */
@media only screen and (max-width: 575px) {
    .footer-container .row {
        padding-top: 20px;
        height: 70%;
    }
}
