.header-container {
    display: table;
    width: 100%;
    height: 52px;
}

.header-container span {
    display: table-cell;
    vertical-align: middle;
}

.dashboard-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: black;
}

.date-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: #707070;
}

.search-container {
    height: 52px;
    width: 52px;
    background: #F7EBFF;
    border-radius: 10px;
    text-align: center;
}

.welcome-back-container {
    height: 188px;
    width: 100%;
    background: #F7EBFF;
    border-radius: 20px;
    margin-top: 31px;
}

.last-login-container {
    width: 50%;
    text-align: center;
}

.welcome-back-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: black;
}

.last-class-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #707070;
}

.last-class-progress-bar {
    background-color: white !important;
    margin: 0 28px;
}

.progress-bar-container {
    height: 10px;
    background-color: #E8E8E8;
    border-radius: 10px;
}

.progress-bar-fill {
    height: 100%;
    background-color: #BD63FF;
    border-radius: 10px;
}

.progress-bar-fill-2 {
    height: 100%;
    background-color: #FF5757;
    border-radius: 10px;
}

.percentage-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #707070;
}

.hero-container {
    width: 50%;
    text-align: center;
    position: absolute;
    margin-top: -31px;
}

.middle-bottom-half-container {
    margin-top: 24px;
}

.classes-info-container {
    padding: 0;
}

.hours-info-container {
    padding: 0;
    text-align: center;
}

.info-title-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: black;
}

.more-classes-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #707070;
    text-align: right;
}

.class-info {
    display: table;
    width: 100%;
    margin-top: 32px;
}

.unit-name {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: black;
    display: table-cell;
    width: 50%;
}

.unit-progress-bar {
    display: table-cell;
    width: 35%;
}

.unit-progress-percentage {
    display: table-cell;
    width: 15%;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #707070;
}

.chart-container {
    max-height: 350px;
    height: 84%;
    margin-top: 10%;
}

@media only screen and (max-width: 991px) {
    .middle-column-container {
        margin: 16px 16px 0 16px;
    }

    .classes-info-container {
        padding: 0 8px;
    }
    
    .hours-info-container {
        padding: 0 8px;
    }
}

@media only screen and (min-width: 992px) {
    .middle-column-container {
        margin-top: 60px;
    }
}
