.logout-container{
    text-align: center;
}

.logout-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #707070;
    width: 50%;
}

.profile-container {
    text-align: center;
}

.profile-name-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
}

.profile-title-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #707070;
    margin-top: -18px;
}

.topics-completion-container {
    margin: 32px 16px 0 16px;
}

.topic-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: black;
    margin: 48px 0 8px 0;
}

.topic-level {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #707070;
    margin: 0;
}

.completion-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #707070;
    margin: 0 0 20px 0;
}

@media only screen and (max-width: 1199px) {
    .right-column-outer {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        overflow: hidden;
        width: 0;
        transition: width 1s;
    }

    .right-column-container {
        left: 100%;
        transform: translateX(-100%);
        height: 100%;
        width: 280px;
        position: absolute;
        z-index: 1;
        background-color: #343A40;
        border-bottom-right-radius: 36px;
    }
    
    .logout-font {
        color: white;
    }

    .profile-name-font {
        color: white;
    }
    
    .profile-title-font {
        color: #bfbfbf;
    }

    .topic-title {
        color: white;
    }
    
    .topic-level {
        color: #bfbfbf;
    }
    
    .completion-font {
        color: #bfbfbf;
    }
}

@media only screen and (min-width: 1200px) {
    .right-column-container {
        margin: 60px 16px 0 16px;
    }
}
