.page-container {
    background: transparent linear-gradient(241deg, #FF5757 0%, #BD63FF 100%) 0% 0% no-repeat padding-box;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.dashboard-container {
    position: relative;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border-radius: 36px;
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

.company-font {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
}

.category-container {
    margin-top: 48px;
}

.category-icon-container {
    text-align: center;
}

.category-text-container {
    text-align: left;
}

.category-text-container a {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #707070;
    white-space: nowrap;
    transition: .3s;
}

.category-text-container a:hover {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 991px) {
    .left-column-outer {
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        overflow: hidden;
        width: 0;
        transition: width 1s;
    }
    
    .left-column-container {
        height: 100%;
        width: 280px;
        position: absolute;
        z-index: 1;
        background-color: #343A40;
        border-bottom-left-radius: 36px;
    }

    .top-navbar {
        height: 56px;
        background-color: #343A40; 
    }
    
    .open-left-col-button {
        font-size: 20px;
        background-color: #343A40;
        color: white;
        padding: 3px 13px;
        border: 1px solid white;
        transition-duration: 0.4s;
        margin-left: 20px;
    }
    
    .open-left-col-button:hover {
        background-color: white;
        color: black;
    }

    .close-button-container {
        text-align: right;
        padding-right: 20px;
    }

    .close-button {
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: 36px;
        color: #707070;
        transition: 0.3s;
    }

    .close-button:hover {
        text-decoration: none;
        color: white;
    }
    
    .navbar-company-title {
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: white;
    }

    .company-font {
        color: white;
    }
}

@media only screen and (min-width: 992px) {
    .top-navbar {
        display: none;
    }

    .close-button {
        display: none;
    }

    .left-column-container {
        margin-top: 60px;
    }
}
