.dashboard-container {
    position: relative;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    height: 100vh;
    width: 100%;
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

.left-column-container {
    background-color: #2A2A2A;
    height: 100%;
    width: 80%;
}

.company-font {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-bottom: 24px;
}

.category-container {
    padding: 24px 0;
    transition: .3s;
}

.category-icon-container {
    text-align: center;
}

.category-icon-container img {
    height: 16px;
    width: 100%;
}

.category-text-container {
    text-align: left;
}

.category-icon-container img {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.category-text-container a {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #707070;
    white-space: nowrap;
    transition: .5s;
}

.category-container:hover {
    background-color: #FF5757;
}

.category-container:hover img {
    -webkit-filter: brightness(220%);
    filter: brightness(220%);
}

.category-container:hover a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1199px) {
    .left-column-outer {
        position: absolute;
        top: 0;
        bottom: 0;
        overflow: hidden;
        width: 0;
        transition: width 1s;
    }
    
    .left-column-container {
        width: 280px;
        position: absolute;
        z-index: 1;
    }

    .close-button-container {
        text-align: right;
        padding-right: 20px;
    }
    
    .close-button {
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
        font-size: 36px;
        color: #707070;
        transition: 0.3s;
    }
    
    .close-button:hover {
        text-decoration: none;
        color: white;
    }
}

@media only screen and (min-width: 1200px) {
    .fill-container {
        height: 100%
    }

    .top-navbar {
        display: none;
    }

    .close-button {
        display: none;
    }

    .left-column-container {
        padding-top: 60px;
    }

    .left-column-outer {
        width: 0;
    }
}
